/* Global
--------------*/
* {
  /* border: 1px dashed red; */
}

/* Reset */

h1,
h2,
h3,
p,
button {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
  margin: 0;
  background-color: #1e1c28;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  height: 35px;
  border: 0;
  border-radius: 3px;
  background-color: #04bc0a;
  color: #fff;
}

input, select {
  border-radius: 3px;
}

/* maybe use this later?
article,
aside,
footer,
header,
main,
menu,
nav,
section {
	display: block;
}
*/

/* Header and Nav and Footer
---------------------*/

/* header */

header {
  height: 148px;
  background-color: #34333d;
}

nav {
  display: inline-block;
  float: right;
  margin-top: 50px;
}

.header-wrap {
  max-width: 1300px;
  margin: 0 auto;
}

#site-title {
  display: inline-block;
}

#logo {
  margin-top: 40px;
}

.header-social-btn {
  height: 35px;
  width: 35px;
  padding-top: 2px;
  border-radius: 50%;
  background-color: #2e2e38;
}

.header-social-logo {
  height: 40%;
}

#header-donate {
  height: 48px;
  width: 163px;
  margin-left: 38px;
  border-radius: 24px;
}

/* footer */

footer {
  height: 148px;
  padding-top: 40px;
  background-color: #34333d;
}
#footer-wrap {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #999999;
}

#footer-wrap a {
  text-decoration: none;
}

#footer-wrap a:visited {
  color: #999999;
}

.footer-social-links {
  margin-top: 10px;
}
.footer-social-logo {
  opacity: .4;
}

.footer-social-space {
  display: inline-block;
  width: 16px;
}


/* Main content area
-----------------------*/

main header {
  margin-bottom: 81px;
  background-color: #1e1c28;
}

main h1 {
  font-size: 72px;
  font-family: 'Teko', sans-serif;
}

main p{

}

#main-wrap {
  max-width: 1100px;
  margin: 50px auto;
}

/* date picker boxes and calculation */

.date-box {
  display: inline-block;
  max-height: 259px;
  max-width: 482px;
  padding: 36px;
  border-radius: 20px;
  background-color: #34333d;
}

#date-box-final {
  float: right;
}

.date-box button {
  height: 40px;
  width: 118px;
  margin: 0;
  border: none;
}

.date-box input {
  /* for some reason the alignment is off for these */
  height: 40px;
  width: 140px;
  margin: 0 16px;
  border: none;
  background-color: #3e3d46;
  color: #aaa;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 31%;
  border: none;
  background-color: #3e3d46;
}

.select-wrapper select + i {
  position: absolute;
  top:27%;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
}

select {
  display: block;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  color: #fff;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border: 1px solid #04bc0a;
}

.currency-title {
  font-size: 12px;
  color: #bbbbbb;
}

.currency-select {
  height: 40px;
  width: 150px;
}

#amount0, #amount1 {
  height: 40px;
  width: 242px;
  /* margin-left: 5px; */
  padding: 0;
}

#results {
  display: block;
  clear: both;
}

#explanation {
  display: block;
  height: 116px;
  padding-top: 84px;
  text-align: center;
}

#calculate {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  clear: both;
  text-align: center;
}

button#go {
/* needs rounded edges */
  height: 48px;
  width: 176px;
}

#explanation {
  font-size: 48px;
  font-family: 'Teko', sans-serif;
}

/* Donation */

#donate {
  height: 127px;
  width: 645px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  border-radius: 20px;
  text-align: center;
  background-color: #34333d;
}

#donate p {
  margin-bottom: 40px;
  font-size: 16px;
}

#donate-btn {
  height: 48px;
  width: 163px;
  margin-left: 95px;
  border-radius: 24px;
  font-size: 19px;
  font-weight: bold;
}

#donate-twitter {
  height: 48px;
  width: 217px;
  margin-right: 95px;
  margin-left: 70px;
  border-radius: 3px;
  font-size: 19px;
  font-weight: bold;
  background-color: #1da1f2;
}

#twitter-logo {
  /* bug: for some reason the height is affecting the elements after */
  position: relative;
  top: 10%;
  margin-right: 10px;
  height: 50%;
}

/* --- Media query at ~992px ------*/
